

:root {
	--color-offwhite:  #f4f4f4;

	--color-main-light: #e7e4e1;
	--color-main-medium: #8b9c73;
	--color-main-dark: #323c25;
}

/* main css */
body {
	background: var(--color-offwhite);
}

@media (max-width: 400px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar h1 {
		padding-left: 0.5em;
	}
}

@media (max-width: 800px) {
	.navbar .display-flex {
		display: block;
	}
	.navbar .nav li {
		line-height: 2em;
	}
}







