

:root {
	--color-offwhite:  #f4f4f4;
}

/* main css */
body {
	background: var(--color-white);
}

@media (max-width: 400px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar h1 {
		padding-left: 0.5em;
	}

}

@media (max-width: 800px) {
	.navbar .display-flex {
		display: block;
	}
	.navbar .nav li {
		line-height: 2em;
	}
}